.normal {
  background-color: #c7c3f630;
  padding: 0.5rem 1.25rem;
  border-radius: 1.5rem;
  margin-right: 0.75rem;
  font-weight: 600;
}
.active {
  background-color: #2b1aea;
  padding: 0.5rem 1.25rem;
  border-radius: 1.5rem;
  margin-right: 0.75rem;
  font-weight: 600;
  color: white;
}
.Linkactive{
  background-color: #2b1aea;
  color: white;
}