body{
    background-color: #E6E5FF40;
}

.normal{
    background-color: #C7C3F630;
    padding:0.5rem 1.25rem;
    border-radius:1.5rem;
    margin-right: 0.75rem;
    font-weight: 600;
}
.active{
    background-color: #2B1AEA;
    padding:0.5rem 1.25rem;
    border-radius:1.5rem;
    margin-right: 0.75rem;
    font-weight: 600;
    color:white;   
}